.dashboard-my-skills .ui-panel-titlebar {
	background: transparent;
}

.skillsMemberTable .ui-datatable-tablewrapper {
	max-height: 300px;
}

.skillsMemberTable .ui-datatable-tablewrapper thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}

.skillsMemberTable .ui-selectonemenu {
	width: calc(100% - 26px);
}

.skill-tree-node-link {
	text-decoration: underline;
	color: var(--header-link-text-color);
	cursor: pointer;
	font-weight: bold;
}