<html>

<body>
	<div>
		Hello,
		<p></p><br>
		${Requester} has requested a new Skill:
		<p></p><br>
		Skill: ${Skill}
		<p></p>
		Parent: ${(Parent)!"None"}
		<p></p>
		<div style="width: 30em;">
			Description: ${(Description)!"-"}
		</div>
		<p></p>
		<div style="width: 30em;">
			Comment: ${(Comment)!"-"}
		</div>

		<p></p><br>
		The new skill has been added to the DoubleClue Skills hierarchy, but is currently pending confirmation. While
		the skill is not confirmed, users can already add it to their skill profiles.
		Please visit the Skills view in DoubleClue Skills to confirm or edit the requested skill.
		<p></p><br>
		With best regards, <br>
		your DoubleClue Skills Team
		<p></p><br>

	</div>

</body>

</html>